@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* Font Guidelines Starts*/
.heading-1 {
    font-size: clamp(2.375rem, 1.8rem + 2.5vw, 4.375rem);
    line-height: clamp(3rem, 2.4rem + 2.8vw, 5.25rem);
    font-weight: 600;
    font-family: inter;
}

.heading-2 {
    font-size: clamp(1.25rem, 1rem + 2.2vw, 3.75rem);
    line-height: clamp(1.75rem, 1.4rem + 2.4vw, 4.625rem);
    font-weight: 500;
    font-family: inter;
}

.heading-3 {
    font-size: 3.25rem;
    line-height: 4.5rem;
    font-weight: 500;
    font-family: inter;
}

.heading-4 {
    font-size: clamp(1.25rem, 1.05rem + 1.2vw, 2.5rem);
    line-height: clamp(1.75rem, 1.5rem + 1.4vw, 3.75rem);
    font-weight: 500;
    font-family: inter;
}

.heading-5 {
    font-size: clamp(1.375rem, 1.2rem + 0.6vw, 2rem);
    line-height: clamp(1.75rem, 1.6rem + 0.8vw, 2.5rem);
    font-weight: 600;
    font-family: inter;
}

.heading-6 {
    font-size: clamp(1rem, 0.95rem + 0.3vw, 1.375rem);
    line-height: clamp(1.5rem, 1.4rem + 0.4vw, 1.875rem);
    font-weight: 400;
    font-family: inter;
}

.subhead-1,
.subhead-2 {
    font-size: clamp(1rem, 0.95rem + 0.4vw, 2rem);
    line-height: clamp(1.5rem, 1.4rem + 0.6vw, 2.875rem);
    font-family: inter;
}

.subhead-1 {
    font-weight: 600;
}

.subhead-2 {
    font-weight: 300;
    font-style: italic;
}

.body-1 {
    font-size: clamp(1rem, 0.95rem + 0.4vw, 1.25rem);
    line-height: clamp(1.5rem, 1.4rem + 0.5vw, 2.125rem);
    font-weight: 400;
    font-family: inter;
}

.body-2 {
    font-size: clamp(0.875rem, 0.85rem + 0.2vw, 1.125rem);
    line-height: clamp(1.25rem, 1.2rem + 0.3vw, 1.875rem);
    font-family: inter;
}

.body-3 {
    font-size: clamp(0.875rem, 0.85rem + 0.2vw, 1rem);
    line-height: clamp(1.25rem, 1.2rem + 0.3vw, 1.5rem);
    font-family: inter;
}

.caption-1 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.caption-2 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
}

.cta-1 {
    font-size: clamp(1rem, 0.95rem + 0.3vw, 1.125rem);
    font-weight: 600;
    font-family: inter;
}

.cta-2 {
    font-size: 0.875rem;
    font-weight: 500;
    font-family: inter;
}

/* Font Guidelines Ends*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: inter, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media (min-width: 96rem) {
    .container {
        max-width: 85rem !important;
    }
}

.spacing {
    padding: 50px 0px;
}

.linear-background {
    background: linear-gradient(90deg, #F36B21 0%, #f36b2100 100%);
}

.linear-background-secondary {
    background: linear-gradient(82deg, #2A180E 56.85%, #F36B21 100%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E4E4E7;
}

::-webkit-scrollbar-thumb {
    background: #F36B21;
}

::-webkit-scrollbar-thumb:hover {
    background: #F36B21;
}